.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

#clock {
  border-bottom: 1px solid #0A0A0A;
  background: #494F6D;
  color: #101EA0;
  font-size: 20px;
  float: left;
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  position: relative;
  width: 130px;
  z-index: 1;
}

nav {
  background: #494F6D;
  border-bottom: 1px solid #0A0A0A;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  height: 40px;
  width: 100%;
}

nav ul {
  height: 40px;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  display: block;
  background: url("../images/vball.png") no-repeat;
  background-size: contain;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  color: #F9F4F4;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0px #38393E;
  width: 150px;
}

nav li a {
  border-right: 1px solid #515676;
  border-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover, nav a:active {
  color: white;
  background-color: #8C99A4;
  text-decoration: none;
}

nav a.pull {
  display: none;
}

section {
  font-size: 16px;
  position: relative;
  height: 100;
  width: 100%;
}

.slide {
  display: none;
  padding: 0px;
  position: absolute;
}

.active-slide {
  display: block;
}

.desktop {
  width: 100%;
}

.mobile {
  display: none;
}

.slider-nav {
  margin: 10px;
  padding-top: 40%;
  text-align: center;
}

.arrow-prev, .arrow-next {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
}

.slider-dot {
  display: inline-block;
  list-style: none;
  padding-right: 40px;
}

.slider-dot li {
  display: inline;
  padding-left: 25px;
  font-size: 35px;
}

.slider-dot li.active-dot {
  color: green;
}

.slider-dot :hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  section {
    width: 100%;
    height: 100%;
  }
  .mobile {
    display: none;
    width: 100%;
  }
  .slider-nav {
    text-align: center;
  }
  .arrow-prev, .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-right: 15px;
    vertical-align: top;
    width: 0;
  }
  .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-left: 0px;
    vertical-align: top;
    width: 0;
  }
  .slider-dot {
    display: inline-block;
    list-style: none;
    padding-right: 0px;
    padding-left: 0;
    margin-top: -25px;
  }
  .slider-dot li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }
  .slider-dot li.active-dot {
    color: green;
  }
}

@media screen and (max-width: 800px) {
  section {
    width: 100%;
    height: 100%;
  }
  .top {
    display: none;
  }
  .mobile {
    display: none;
    width: 100%;
  }
  .slider-nav {
    padding-top: 40%;
    text-align: center;
  }
  .arrow-prev, .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-right: 15px;
    vertical-align: top;
    width: 0;
  }
  .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-left: 0px;
    vertical-align: top;
    width: 0;
  }
  .slider-dot {
    display: inline-block;
    list-style: none;
    padding-right: 0px;
    padding-left: 0;
    margin-top: -25px;
  }
  .slider-dot li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }
  .slider-dot li.active-dot {
    color: green;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 100%;
    height: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .slider-nav {
    padding-top: 40%;
    text-align: center;
  }
  .arrow-prev, .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-right: 15px;
    vertical-align: top;
    width: 0;
  }
  .arrow-next {
    display: inline-block;
    margin-top: -5px;
    padding-left: 0px;
    vertical-align: top;
    width: 0;
  }
  .slider-dot {
    display: inline-block;
    list-style: none;
    padding-right: 0px;
    padding-left: 0;
    margin-top: -25px;
  }
  .slider-dot li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }
  .slider-dot li.active-dot {
    color: green;
  }
}

@media only screen and (max-width: 480px) {
  section {
    width: 100%;
    height: 100%;
  }
  .slider-nav {
    text-align: center;
  }
  .arrow-prev, .arrow-next, .arrow-next {
    display: inline-block;
    margin-top: 0px;
    vertical-align: top;
    width: 0;
  }
  .slider-dot {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
  }
  .slider-dot li {
    display: inline;
    padding-left: 10px;
    font-size: 15px;
  }
  .slider-dot li.active-dot {
    color: green;
  }
}

@media only screen and (max-width: 375px) {
  section {
    width: 100%;
    height: 100%;
  }
  .slider-nav {
    text-align: center;
  }
  .arrow-prev, .arrow-next {
    display: inline-block;
    margin-right: 30px;
    vertical-align: center;
  }
  .arrow-next {
    display: inline-block;
    margin-left: 30px;
    margin-right: 0px;
    vertical-align: center;
  }
  .slider-dot {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  section {
    width: 100%;
    height: 125px;
  }
  .slider-nav {
    padding-top: 0px;
    text-align: center;
  }
  .arrow-prev, .arrow-next {
    display: inline-block;
    margin-right: 30px;
    vertical-align: center;
  }
  .arrow-next {
    display: inline-block;
    margin-left: 30px;
    margin-right: 0px;
    vertical-align: center;
  }
  .slider-dot {
    display: none;
  }
}

.footer-wrapper {
  background: #282B3B;
  padding: 0px;
}

.footer-left {
  float: left;
}

.footer-left ul {
  padding-left: 10px;
  padding-top: 20px;
}

.footer-left li {
  display: inline;
  font-size: 16px;
  padding-right: 80px;
}

.footer-left a {
  color: #E3DFDF;
}

.footer-left a:hover {
  color: #6588EC;
  text-decoration: none;
}

.footer-right {
  float: right;
}

.footer-right i {
  padding-top: 8px;
}

.footer-right .fa-2x {
  display: none;
}

.star {
  height: 100%;
}

.star img {
  display: inline-block;
  margin-left: 15px;
}

.winter img {
  height: 450px;
  padding-bottom: 25px;
  width: 32%;
}

.bod {
  margin-bottom: 30px;
}

.top {
  position: fixed;
  bottom: 0;
}

.container {
  height: 100%;
}

.one {
  background: #CFCFCF;
  padding: 10px;
}

.one img {
  float: right;
  height: 50%;
  padding: 20px;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .one img {
    float: none;
    width: 100%;
  }
}

.one h1 {
  padding-top: 15px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .one h1 {
    font-size: 35px;
    font-weight: bold;
  }
}

@media screen and (max-width: 320px) {
  .one h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

.one p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.8em;
}

.bg1 {
  background: #BFCCF5;
}

.bg2 {
  background: #D4D4D9;
}

.left {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 48%;
}

.left p, .left img {
  width: 100%;
}

.left p {
  font-size: 23px;
  font-family: sans-serif;
}

.left h2 {
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 0;
  padding-bottom: 40px;
}

.left .btn {
  display: none;
}

.right {
  float: right;
  width: 48%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right p, .right iframe, .right img {
  width: 100%;
}

.right h2 {
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 0;
  padding-bottom: 40px;
}

.right p {
  font-size: 25px;
  font-family: sans-serif;
}

.resume {
  background: #E2E2E2;
  color: #070707;
}

.title {
  margin-left: 25px;
}

.info li {
  font-size: 17px;
  margin-left: 50px;
}

div .ed {
  margin-left: 100px;
  padding: 0px;
  width: 75%;
}

div .school {
  margin-left: 50px;
}

div .date {
  float: right;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #clock {
    display: none;
  }
  nav {
    height: auto;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  nav li a {
    border-bottom: 1px solid #7073A0;
    border-right: 1px solid #7073A0;
  }
  nav li:last-child a {
    border-right: 1px solid #7073A0;
  }
  nav a {
    text-align: center;
    width: 100%;
    text-indent: 25px;
  }
}

@media screen and (max-width: 600px) {
  #clock {
    display: none;
  }
  nav {
    height: auto;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  nav li a {
    border-bottom: 1px solid #7073A0;
    border-right: 1px solid #7073A0;
  }
  nav li:last-child a {
    border-right: 1px solid #7073A0;
  }
  nav a {
    text-align: center;
    width: 100%;
    text-indent: 25px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a.pull {
    display: block;
    background: url("../images/vball.png") no-repeat;
    background-size: contain;
    background-color: #292835;
    color: white;
    width: 100%;
    position: relative;
    text-decoration: none;
  }
  nav a.pull:hover {
    color: #8E93AE;
  }
  nav a.pull:after {
    border-top: .5em double white;
    border-bottom: .145em solid white;
    content: ' ';
    display: inline-block;
    height: 0.85em;
    width: 1em;
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

@media only screen and (max-width: 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #7073A0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1360px) {
  .winter img {
    height: 400px;
    margin-left: 25px;
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .winter img {
    height: 350px;
    margin-left: 20px;
    width: 29%;
  }
}

@media screen and (max-width: 768px) {
  .winter img {
    height: 300px;
    margin-left: 20px;
    width: 29%;
  }
}

@media screen and (max-width: 480px) {
  .star {
    display: block;
  }
  .winter img {
    height: 175px;
    margin-left: 20%;
    padding-top: 5px;
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .left h2 {
    padding-bottom: 5px;
  }
  .right h2 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .left h2 {
    font-size: 28px;
  }
  .left p {
    font-size: 16px;
    font-family: sans-serif;
  }
  .left .btn {
    display: block;
  }
  .left iframe {
    width: 100%;
    margin-top: 39px;
  }
  .vball p {
    width: 200%;
  }
  .right h2 {
    font-size: 28px;
    padding-bottom: 5px;
  }
  .right p {
    font-size: 16px;
    font-family: sans-serif;
  }
  .right iframe {
    display: none;
  }
  .right img {
    padding-top: 90px;
  }
}

@media screen and (max-width: 375px) {
  .left h2 {
    font-size: 28px;
  }
  .left p {
    font-size: 14px;
    font-family: sans-serif;
  }
  .soc1 h2, .moto h2 {
    padding-bottom: 10px;
    margin-left: -162px;
  }
  .soc1 p, .moto p {
    margin-left: -162px;
    padding-top: 200px;
    width: 175%;
  }
  .soc1 img, .moto img {
    padding-top: 90px;
    margin-right: -134px;
    margin-top: -50px;
    width: 200%;
  }
  .right h2 {
    font-size: 28px;
  }
  .right p {
    font-size: 16px;
    font-family: sans-serif;
  }
  .right iframe {
    display: none;
  }
  .tennis p {
    margin-top: 185px;
    width: 200%;
  }
  .tennis img {
    margin-left: -162px;
    margin-top: -50px;
    width: 200%;
  }
}

@media only screen and (max-width: 320px) {
  .left h2 {
    font-size: 28px;
  }
  .left p {
    font-size: 14px;
    font-family: sans-serif;
  }
  .soccer h2, .moto h2 {
    padding-bottom: 10px;
    margin-left: -135px;
  }
  .soccer p, .moto p {
    margin-left: -135px;
    padding-top: 170px;
    width: 175%;
  }
  .soccer img, .moto img {
    padding-top: 90px;
    margin-right: -134px;
    margin-top: -50px;
    width: 200%;
  }
  .right h2 {
    font-size: 28px;
  }
  .right p {
    font-size: 16px;
    font-family: sans-serif;
  }
  .right iframe {
    display: none;
  }
  .tennis p {
    margin-top: 150px;
    width: 200%;
  }
  .tennis img {
    margin-left: -134px;
    margin-top: -50px;
    width: 200%;
  }
}

@media only screen and (max-width: 768px) {
  .info li {
    font-size: 17px;
    margin-left: 0px;
  }
  .info .title {
    margin-left: 10px;
  }
  div .ed {
    margin-left: 50px;
    padding: 0px;
    width: 75%;
  }
  div .school {
    margin-left: 25px;
  }
  div .date {
    float: right;
    font-weight: bold;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .info li {
    font-size: 15px;
    margin-left: 0px;
  }
  .info .title {
    margin-left: 10px;
  }
  div .ed {
    margin-left: 50px;
    padding: 0px;
    width: 75%;
  }
  div .school {
    margin-left: 25px;
  }
  div .date {
    float: right;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    margin-top: 10px;
    height: auto;
  }
  .footer-left {
    padding: 0px;
  }
  .footer-left li {
    padding-right: 15px;
  }
  .footer-right .fa-2x {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer-left {
    padding: 0px;
  }
  .footer-left li {
    font-size: 13px;
    padding-right: 15px;
    padding-top: 0px;
  }
  .footer-left ul {
    padding-top: 10px;
  }
  .footer-right .fa-3x {
    display: none;
  }
  .footer-right .fa-2x {
    display: inline-block;
    padding-top: 7px;
  }
}
