
$black:#0A0A0A;
$skyblue:#20D2E7;
@mixin size ($height,$width) {
	height:$height;
	width:$width;
}

@mixin media($width){
	@media screen and (max-width: $width) {
		@content;
	}
}


.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1;
}


nav {
	background: #17181D;
	border-bottom: 1px solid $black;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	@include size (40px,100%);
		ul {
			@include size (40px,600px);
			margin: 0 auto;
			padding: 0;
		}
		li {
			display: inline;
			float: left;
		}
		a{
			color:#DED6D6;
			display:inline-block;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			text-shadow: 1px 1px 0px #30365E;
			width: 150px;
		}
		li a {
			border-right: 1px solid #515676;
			border-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		li:last-child a {
			border-right: 0;
		}
		a:hover, a:active {
			background-color: #2575C6;
		}
		a#pull {
			display: none;
		}

}

@media screen and (max-width: 600px) {
	nav {
		height: auto;
		ul {
			width: 100%;
			display: block;
			height: auto;
		}
		li {
			width: 50%;
			float: left;
			position: relative;
		}
		li a {
			border-bottom: 2px solid #C0C0C0;
			border-right:  2px solid #C0C0C0;
		}
		a {
			text-align: center;
			width: 100%;
			text-indent: 25px;
		}
	}
}

@media only screen and (max-width: 480px) {
	nav {
		border-bottom: 0;
		ul {
			display: none;
			height: auto;
		}
		a#pull {
			display: block;
			background-color: #17181D;
			width: 100%;
			position: relative;
			text-decoration: none;
		}
		a#pull:after {
			border-top: .5em double white;
			border-bottom: .145em solid white;
			content: ' ';
			display: inline-block;
			@include size (.85em, 1em);
			position: absolute;
			right: 15px;
			top: 13px;
		}
	}
}

@media only screen and (max-width: 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
		a {
			border-bottom: 1px solid white;
		}
	}
}
